*, *::after, *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



*{
    margin: 0;
    padding: 0;
    box-sizing:  border-box;
}

html{
    font-size: 62.5%;
}

:root{
    --primary-color: #38B4EA;
    --primary-hover-color: #2776EA;
    --secondary-color: #210124;
    --heading-color: #1B0760;
    --body-color: #918CA4;
}

body{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    
}



/* LOGIN PAGE */
.container_login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.form-group {
    margin: 10px 0;
}

label {
    display: block;
    font-weight: bold;
}



.login_btn {
    padding: 1rem 2rem;
    border-radius: .5rem;
    margin-top: 1.6rem;
    background: transparent;
    outline: none;
    border: 1px solid var(--secondary-color);
    transition: 1s;
}

.login_btn:hover {
    color: white;
    background-color: var(--secondary-color);
}

.error-message {
    color: red;
}






/* Typography for mobile design starts here  */
h1,h2,h3,h4{
    font-family: 'Open Sans', sans-serif;
    color: var(--heading-color);
}

h1{
    font-size: 1.6rem;
    font-weight: 800;
}

h2{
    font-size: 1.2rem;
    font-weight: 800;
}

h3{
    font-size: 1.2rem;
    font-weight: 600;
}
h4{
    font-size: 1rem;
    font-weight: 600;
}

body{
    /* font-family: 'Courier New', Courier, monospace; */
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: var(--body-color);
}
/* Typography for mobile design ends here  */



/* Typography for web design starts here  */
@media screen and (min-width:1024px) {
    h1,h2,h3,h4{
        font-family: 'Open Sans', sans-serif;
        color: var(--heading-color);
    }
    
    h1{   
        font-size: 4rem;
        font-weight: 800;
    }
    
    h2{
        font-size: 3rem;
        font-weight: 800;
    }
    
    h3{
        font-size: 1.6rem;
        font-weight: 600;
    }
    
    h4{
        font-size: 1.4rem;
        font-weight: 600;
    }
    
    body{
        font-family: 'Lato', sans-serif;
        font-size: 1.6rem;
        color: var(--body-color);
        line-height: 1.5;
    }
}
/* Typography for web design ends here  */



/* Header  */
.header{
    display: flex;
    position: fixed;
    justify-content: space-between;
    top: 0;
    background: white;
    width: 100%;
    z-index: 999;
    box-shadow: 0 0 4px lightgray;
}

.header-logo{
    padding: 2.5rem 3rem;  
    margin: auto;
}

.header-logo img{
    width: 20.1rem;
    height: 5.4rem;
}

.toggler{
    display: none;
}

.menu-desktop{
    display: flex;
    list-style: none;
    color: white;
    
}

.menu-desktop li{
    padding: 5rem 6.3rem 5rem 0;
}

.menu-desktop a{
    text-decoration: none;
}

.asset-btn{
    padding: 1rem 2rem;
    border-radius: .5rem;
    margin-top: -3.6rem;
    background: transparent;
    outline: none;
    border: 2px solid white;
    transition: 1s;
}

.asset-btn:hover{
    color: white;
    background-color: var(--secondary-color);

}




/* Handburber making for mobile screen   */
@media (min-width: 0px) and (max-width: 900px) {
    .menu-wrap{
        position: fixed;
        top: 3rem;
        right: 3.6rem;
        z-index: 1;
    }
    
    .menu-wrap .toggler{
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
        cursor: pointer;
        width: 50px;
        height: 50px;
        opacity: 0;
    }
    
    .menu-wrap .hamburger{
        position: absolute;
        top: 0;
        right: 0;
        width: 60px;
        height: 60px;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
    }
    
    /* Handburger line  */
    .menu-wrap .hamburger > div{
        position: relative;
        width: 80%;
        height: 2px;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.4s ease;
    }
    
    
    .menu-wrap .hamburger > div:before,
    .menu-wrap .hamburger > div:after{
        content: "";
        position: absolute;
        z-index: 1;
        top: -10px;
        width: 100%;
        height: 2px;
        background: inherit;
    }
    
    .menu-wrap .hamburger > div:after{
        top: 10px;
    }
    
    .menu-wrap .toggler:checked + .hamburger > div {
        transform:  rotate(135deg);
    }
    
    .menu-wrap .toggler:checked + .hamburger > div::before,
    .menu-wrap .toggler:checked + .hamburger > div::after{
        top: 0;
        transform: rotate(90deg);
    }
    
    .menu-wrap .toggler:checked:hover + .hamburger > div{
        transform: rotate(225deg);
    }
    
    /* SHOW MENU  */
    .menu-wrap .toggler:checked ~ .menu {
        visibility: visible;
    }
    
    
    .menu-wrap .toggler:checked ~ .hamburger > div{
        background-color: var(--secondary-color);
    }
    
    .menu-wrap .toggler:checked ~ .menu > div{
        transform: scale(1);
        transition-duration: 0.75s;
    }
    
    .menu-wrap .toggler:checked ~ .menu > div > div{
        opacity: 1;
        transition: opacity 0.4s ease;
    }
    
    .menu-wrap .menu{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        visibility: hidden;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .menu-wrap .menu > div{
        background: var(--primary-color);
        border-radius: 30%;
        width: 200vw;
        height: 400vw;
        display: flex;
        flex: none;
        justify-content: center;
        align-items: center;
        transform: scale(0);
        transform: all 0.4s ease;
    }
    
    .menu-wrap .menu > div > div{
        text-align: center;
        max-width: 90vw;
        max-height: 100vh;
        opacity: 0;
        transition: opacity 0.4s ease;
    }
    
    .menu-wrap .menu > div > div > ul > li{
        list-style: none;
        color: white;
        font-size: 1.5rem;
        padding: 1rem;
    }
    
    .menu-wrap .menu > div > div > ul > li > a{
        color: inherit;
        text-decoration: none;
        transition: color 0.4s ease;
    }
    .menu-desktop{
        display: block;
    }
    .menu-desktop h3{
        color: white;
    }
}

@media (min-width:1020px) {
    .header-logo{
        padding: 3.5rem 10rem;  
        margin: auto;
    }
}
/* HANDBURGER ENDS HERE  */




/* BANNER STARTS HERE  */
.banner{
    margin: 13rem 0 0 3rem;
    overflow: hidden;
}

.banner-text{
    padding-right: 4rem;
}

.banner-contaner{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.primary-btn{
    padding: .8rem 2.6rem;
    background-color: var(--primary-color);
    margin-top: 3rem;
    margin-right: 1.9rem;
    outline: none;
    border: 1px solid var(--primary-color);
    border-radius: .5rem;
    transition: 1s;
}

.primary-btn h3{
    color: white;
    transition: 1s;
}

.primary-btn:hover{
    background-color: var(--primary-hover-color);
}

.secondary-btn{
    padding: .8rem 2.6rem;
    background-color: transparent;
    margin-top: 3rem;
    outline: none;
    border: 1px solid black;
    border-radius: .5rem;
    transition: 1s;
}

.secondary-btn:hover{
    background-color: var(--secondary-color);
    color: white;
}

.secondary-btn:hover > h3{
    color: white;
}



.desktop-img{
    display: none;
}


.banner-img{
  display: flex;
  justify-content: end;
}

.banner-img img{
    width: 18.7rem;
    height: 26.3rem;
    /* margin-top: -2rem; */
}

@media (min-width: 700px) and (max-width: 1000px) {
    .banner-contaner{
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .banner-img{
        margin-top: -2rem;
    }

    .banner-img img{
        width: 20.7rem;
        height: 30.3rem;
        margin-top: 0rem;
    }
}

@media (min-width:1001px){
    .banner-contaner{
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 20.4rem;
    }
    .mobile-img{
        display: none;
    }
    .desktop-img{
        display: block;
    }
    .banner-img img{
        width: 50.8rem;
        height: 52.1rem;
        margin-top: -5rem;
    }
    .banner-img{
        margin-top: 15rem;
    }
    .banner{
        margin: 17rem 0 0 10rem;
    }
    .secondary-btn, .primary-btn{
        padding: 1.7rem 6rem;
    }
    .banner-p{
        width: 90ch;
    }
}
/* BANNER STARTS HERE  */





/* HISTORY STARTS HERE  */
.history{
    padding: 3.4rem 4rem 0 0;
    overflow: hidden;
}

.history-contaner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1.9rem;
}

.desktoph-img{
    display: none;
}

.mobileh-img{
    /* margin-top: 8.8rem; */
    width: 6rem;
}

.history-text p{
    line-height: 2;
}

@media (min-width:1000px) {
    .mobileh-img{
        display: none;
    }
    .mobile-img{
        display: none;
    }
    .desktoph-img{
        display: block;
        width: 40.5rem;
    }
    .history-contaner{
        gap: 20.5rem;
    }
    .history{
        padding: 3.4rem 20rem 0 0;
    }
}


/* EVENTS STARTS HERE  */
.events{
    padding: 4rem 3.5rem 0 3.5rem;
}
.events h1{
    text-align: center;
}

.event-container{
    display: flex;
    flex-wrap: wrap;
    gap: 8.5rem;
    justify-content: center;
    padding-top: 8.6rem;
}
.event-container a{
    text-decoration: none;
    color: var(--body-color);
}
.event-box{
    width: 30.5rem;
    height: 36.9rem;
    border-radius: 2rem;
    box-shadow: 0 0 4px lightgray;
}

.box-img{
    display: flex;
    justify-content: center;
}

.box-img img{
    width: 24.1rem;
    height: 20.6rem;
    margin-top: -5.2rem;
}

.box-title{
    text-align: center;
    padding: 2.1rem 3.3rem 1.2rem 3.3rem;
}

.box-text p{
    padding: 0 3.3rem 3.8rem 3.3rem;
}

.events button{
    margin-left: 5rem;
}

@media screen and (min-width:1024px){
    .event-box{
        width: 48.5rem;
        height: 56.9rem;
        border-radius: 2rem;
        box-shadow: 0 0 4px lightgray;
    }
    .box-img img{
        width: 32.2rem;
        height: 35rem;
        margin-top: -5.2rem;
    }

    .box-title{
        font-size: 1.6rem;
        font-weight: 800;
    }
    .events button{
        margin-left: 10rem;
    }
    
}

@media screen and (min-width: 1368px) {
    .events h1{
        padding-left: 35.6rem;
        padding-right: 35.6rem;
    }
}
/* EVENTS ENDS HERE  */


/* MEMBER STARTS HERE  */
.member{
    padding: 4rem 0 0 3rem;
}

.member-img img{
    display: none;
}

.member-form{
    padding-top: 3rem;
}
.form-group{
    margin-bottom: 3rem;
}

.form-group label{
    display: block;
    margin-bottom: 1rem;
}

.form-group input, textarea{
    border: 2px solid var(--primary-color);
    width: 80vw;
    padding: 1.5rem 1.3rem;
    border-radius: .5rem;
    transition: 1s;
}

.form-group input:focus{
    border-color: var(--body-color);
    outline: none;
    box-shadow: 0 0 9px var(--body-color);
}

.member-form p{
    margin-top: -2rem;
}



@media (min-width: 1024px) {
    .member{
        padding: 10rem 0 0 0;
    }
    .member-img img{
        display: block;
        width: 61.9rem;
        height: 78.2rem;
    }
    .memeber-container{
        display: flex;
        justify-content: space-around;
        /* gap: 20rem; */
    }
    .form-group input{
        width: 40vw;
    }
}

@media (min-width: 1024px) and (max-width:1356px) {
    .member-img img{
        display: block;
        width: 41.9rem;
        height: 58.2rem;
    }
}
/* MEMBER ENDS HERE  */



/* SUPPORT STARTS HERE  */
.support{
    margin-top: 5rem;
}

.support-container{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between;
    flex-direction: row-reverse; */
    padding: 2.1rem 3rem;
}

.mobiles-img{
    width: 100%;
}

.desktoph-img{
    display: none;
}


@media (min-width: 1020px) {
    .desktoph-img{
        display: block;
    }
    
    .support-container{
        flex-direction: row;
        flex-direction: row-reverse;
        padding: 2.1rem 10rem;
        gap: 8rem;
    }

    .support-text{
        width: 80pc;
    }
}


/* footer here  */
.footer{
    margin-top: 4rem;
    padding-top: 5rem;
    background-color: white;
    color: white;
}
.footer-holder{
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 4rem;
}

.footer-img img{
    width: 12rem;
    height: 4.2rem;
    margin-bottom: 1.5rem;
}

.footer a{
    text-decoration: none;
    color: #33355A;
}

.footer-info a h4{
    padding-bottom: .5rem;
}

.footer-info h3{
    padding: .5rem 0 1.6rem 0;
    color: var(--primary-hover-color);
}
.footer-team{
    justify-content: left !important;
    margin-bottom: 2rem;
}

.f-program, .f-links, .f-terms h3{
    color: var(--primary-color);
}

.f-program h3{
    padding-bottom: 2rem;
}

.f-program a h4{
    padding-bottom: 2rem;
}

.f-links h3{
    padding-bottom: 2rem;
}

.f-links a h4{
    padding-bottom: 2rem;
}

.f-terms h3{
    padding-bottom: 2rem;
}

.f-terms a h4{
    padding-bottom: 2rem;
}

.footer-close{
    padding-top: 2rem;
    width: 90%;
    margin: auto;
}

.footer hr{
    background-color: white;
    color: white;
    height: .2rem;
    outline: none;
    border: none;
}



/* ABOUT PAGE STARTS HERE  */
/* ABOUT BANNER STARTS HERE  */
.about-banner{
    margin-top: 12rem;
    overflow: hidden;
}
.about-banner-img img{
    width: 100vw;
}

.about-text{
    padding: 3rem;
}

.about-text p{
    margin-bottom: 3rem;
}

@media (min-width:1024px) {
    .about-text{
        padding-left: 10rem;
        padding-right: 10rem;
    }
}
/* ABOUT BANNER ENDS HERE  */





/* MISSION STARTS HERE  */
.mission-statement{
    display: flex;
    flex-direction: column;
    justify-content: space-between;   
    padding: 0 3rem 3rem 3rem;
}



.mission-img img{
    width: 100%;
}

.mission-container-img{
    display: none;
}

@media (min-width:1024px) {
    .mission-containter{
        display: flex;
    }
    .mission-statement{
        flex-direction: row;
        padding: 0 10rem 10rem 10rem;
        gap: 10rem;
    }

    .mission-img img{
        width: 43.7rem;
        height: 33.9rem;
    }

    .mission-reverse{
        flex-direction: row-reverse;
    }
}

@media (min-width:1543px) {
    .mission-container-img{
        display: block;
        display: flex;
        align-items: center;
    }
    .mission-container-img img{
        width: 100%;
        justify-content: center;
    }
}
/* MISSION ENDS HERE  */



/* BOARD MEMEBERS STARTS HERE  */
.board-title{
    text-align: center;
    padding: 4.4rem 0 4.1rem 0;
}

.board-individual{
    padding: 0 3rem 0 3rem;
}


.board-img img{
    width: 100%;
}

.board-text{
    text-align: center;
}

.board-text p{
    padding: .1rem 0 .6rem 0;
}

@media (min-width:1024px) {
    .board-holder{
        display: flex;
        flex-wrap: wrap;
        align-items: center;   
        align-content: center;
        justify-content: center;
    }

    .board-img img{
        width: 37.4rem;
        height: 35.7rem;
    }

    .board-text h1{
        font-size: 3rem;
    }
}


/* EVENTS PAGE STATS HERE  */
/* HOSTEED STARTS HERE  */
.hosted{
    margin-top: 13rem;
}

.animation{
    display: flex;
    justify-content: center;
}

.hosted-text{
    padding: 0 3rem 0 3rem;
}


@media (min-width:1024px) and (max-width:1489px) {
    .hosted{
        display: flex;
        flex-direction: row-reverse;
        padding: 0 10rem 0 10rem;
        gap: 4rem;

    }

    .animation{
        display: flex;
        align-items: center;
    }

    .animation lottie-player{
        width: 31.1rem;
        height: 31.1rem;
    }

    .hosted-text{
        padding-top: 14.7rem;
    }
}
@media (min-width:1489px) {
    .hosted{
        display: flex;
        flex-direction: row-reverse;
        padding: 0 10rem 0 10rem;
        gap: 4rem;

    }

    .animation{
        display: flex;
        align-items: center;
    }

    .animation lottie-player{
        width: 51.1rem;
        height: 51.1rem;
    }

    .hosted-text{
        padding-top: 10.7rem;
    }
}


/* EVENTS STARTS HERE  */
.events-holder{
    padding-top: 10rem;
}
.events-text h1{
    font-size: 3rem;
}
/* EVENTS ENDS HERE  */





/* CONTACTUS PAGE STARTS HERE  */
.contact-container{
    padding: 13rem 3rem 0 3rem;
    background-color: var(--secondary-color);
    height: 70vh;
}

.contact-holder{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact-text h1, a{
    color: white;
    text-decoration: none;
}

.contact-icon-holdder{
    display: flex;
    gap: 3rem;
}

.content-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-icon img{
    width: 100%;
}
.contact-form-holder{
    margin-top: 4rem;
    background-color: white;
    box-shadow: 0 0 5px lightgray;
    padding: 3rem;
    border-radius: .5rem;
}

.contact-form input, textarea{
    width: 70vw;
}

@media (min-width:1024px) {
    .contact-holder{
        flex-wrap: nowrap;
    }

    .contact-form input, textarea{
        width: 30vw;
    }

    .contact-container{
        padding: 20rem 10rem 0 10rem;
        height: 80vh;
    }

    .contact-icon-holdder img{
        width: 3.5rem;
    }
    
}