*, *::after, *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


*{
    margin: 0;
    padding: 0;
    box-sizing:  border-box;
}

html{
    font-size: 62.5%;
}

.root{
--primary-color: #38B4EA;
--secondary-color: #210124;
--heading-color: #1B0760;
--body-color: #918CA4;
}

body{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}




/* Fonts for mobile design starts here  */
h1,h2,h3,h4{
    font-family: 'Open Sans', sans-serif;
    color: var(--heading-color);
}

h1{
    font-size: 1.6rem;
    font-weight: 800;
}

h2{
    font-size: 1.2rem;
    font-weight: 800;
}

h3{
    font-size: 1.2rem;
    font-weight: 600;
}
h4{
    font-size: 1rem;
    font-weight: 600;
}

body{
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: var(--body-color);
}
/* fonts for mobile design ends here  */



/* Fonts for web design starts here  */
@media screen and (min-width:1024px) {
    h1,h2,h3,h4{
        font-family: 'Open Sans', sans-serif;
        color: var(--heading-color);
    }
    
    h1{   
        font-size: 4rem;
        font-weight: 800;
    }
    
    h2{
        font-size: 3rem;
        font-weight: 800;
    }
    
    h3{
        font-size: 1.6rem;
        font-weight: 600;
    }
    
    h4{
        font-size: 1.4rem;
        font-weight: 600;
    }
    
    p{
        font-family: 'Lato', sans-serif;
        font-size: 1.6rem;
        color: var(--body-color);
        line-height: 1.5;
    }
}
/* Fonts for web design ends here  */


